
body{
    background-size: cover;
    background-repeat: no-repeat;
    background-image:url(https://i.pinimg.com/originals/68/34/20/683420098faac1e27a55280c6fead466.jpg) ;
    background-color: black;
    color:rgb(56, 55, 55);
    font-weight: bolder;
    font-size: larger;
}
ul{
    padding: 0px;
    margin-bottom: 0px;
}
li{
    background-color: inherit;
}
ul li{
    border: 1px solid grey;
    list-style: none;
    padding: 5px;
}

input{
    border: none;
    width: 100%;
    
}